.App {
  text-align: center;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  margin: 10px auto;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #c1c1c1;
}

input {
  border: 2px solid #e9d5ff;
  border-radius: 5px;
  padding: 10px 3px;
  outline: none;
  padding: 10px 3px;
  width: 300px;
  margin-left: 1rem;
}

input:focus {
  border: 2px solid #9333ea;
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.button {
  outline: none;
  border: 1px solid #9333ea;
  border-radius: 5px;
  color: #9333ea;
  background-color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.remove {
  color: red;
  border: 1px solid red;
}

.add {
  color: #fff;
  background-color: #9333ea;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #e9d5ff;
  color: #9333ea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.select {
  width: 150px;
  margin-left: 10px;
}
